
# üìå Portada

**Curso:** Procesamiento de Big Data

**Docente**: John Corredor Franco

**Estudiante:** Juan Pablo Arias

 **ID**: 20524770

**Carrera:** Ciencia de Datos

# CALENTAMIENTO:

#### MENOR DE DOS PARES: Escriba una funci√≥n que devuelva el menor de dos n√∫meros dados *si* ambos n√∫meros son pares, pero devuelva el mayor si uno o ambos n√∫meros son impares
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [10]:
def lesser_of_two_evens(a, b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a, b)
    else:
        return max(a, b)

In [11]:
# Revisi√≥n
lesser_of_two_evens(2,4)

2

**Respuesta** :

Ambos son pares y el menor es 2

In [12]:
# Revisi√≥n
lesser_of_two_evens(2,5)

5

**Respuesta** :

5 es impar por lo tanto devuelve el mayor que es el mismo 5

#### GALLETAS DE ANIMALES: Escribir una funci√≥n que toma una cadena de dos palabras y devuelve True si ambas palabras comienzan con la misma letra
    animal_crackers('Ciudad Calor') --> True
    animal_crackers('Lugar Frio') --> False

In [13]:
def animal_crackers(text):
    words = text.split()
    if len(words) != 2:
        return False
    return words[0][0].lower() == words[1][0].lower()

In [14]:
# Revisi√≥n
animal_crackers('Ciudad Calor')

True

**Respuesta** :

Ciudad y calor comienzan con C

In [15]:
# Revisi√≥n
animal_crackers('Lugar Frio')

False

**Respuesta** :

Lugar y calor no comienzan con la misma letra

#### HACE VEINTE: dados dos enteros, devuelve True si la suma de los enteros es 20 o si uno de los enteros es 20. De lo contrario, devuelve False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [16]:
def makes_twenty(n1, n2):
    return (n1 + n2 == 20) or (n1 == 20) or (n2 == 20)

In [17]:
# Revisi√≥n
makes_twenty(20,10)

True

**Respuesta** :

hay un 20 entre las variables

In [18]:
# Revisi√≥n
makes_twenty(2,3)

False

**Respuesta** :

La suma de ambos no alcanza a ser 20, ademas de ninguno ser 20

In [19]:
makes_twenty(12,8)

True

**Respuesta** :

a persar de que ninguno es 20, la suma de los valores si es 20

 Nivel 1

#### MAY√öSCULAS: Escribir una funci√≥n que haga may√∫scula la primera y cuarta letra de una cadena de texto
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [20]:
def old_macdonald(name):
    if len(name) < 4:
        return name.capitalize()
    else:
        return name[:1].upper() + name[1:3] + name[3:4].upper() + name[4:]

In [21]:
# Check
old_macdonald('macdonald')

'MacDonald'

**Respuesta** :

Siendo la primera letra M y la cuarta D

#### REVERSA: Dada una oraci√≥n, retornar la misma oraci√≥n pero en reversa

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: Revisar m√©todo .join()

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

Resultado de .join():

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [22]:
def master_yoda(text):
    words = text.split()
    reversed_words = words[::-1]
    reversed_sentence = ' '.join(reversed_words)
    return reversed_sentence

**Respuesta** :

Divide la oracion en palabras (partes), invierte el orden, las une en una sola u devuelve el resultado

In [23]:
######

In [24]:
# Revisi√≥n
master_yoda('I am home')

'home am I'

**Respuesta** :

El codigo efectivamente invirtio el orden de "I" y "home"

In [25]:
# Revisi√≥n
master_yoda('We are ready')

'ready are We'

**Respuesta** :

El codigo efectivamente invirtio el orden de "We" y "ready"

 Nivel 2

#### PROBLEMA 33:

Dada una lista de enteros, retornar True si el arreglo tinene un  3  seguido por un  3 .

    has_33([1, 3, 3]) ‚Üí True
    has_33([1, 3, 1, 3]) ‚Üí False
    has_33([3, 1, 3]) ‚Üí False

In [26]:
def has_33(nums):
    for i in range(len(nums) - 1):
        if nums[i] == 3 and nums[i + 1] == 3:
            return True
    return False

In [27]:
# Revisi√≥n
has_33([1, 3, 3])

True

**Respuesta** :

Cumple con la condicion de que hay un 3 al lado de otro

In [28]:
# Revisi√≥n
has_33([1, 3, 1, 3])

False

**Respuesta** :

No cumple devido a que no hay numeros 3 seguidos

In [29]:
# Revisi√≥n
has_33([3, 1, 3])

False

**Respuesta** :

No cumple devido a que no hay numeros 3 seguidos

#### REPLICADOR: Dada una cadena, devuelve una cadena donde por cada car√°cter en el original hay tres caracteres REPETIDOS
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [30]:
def paper_doll(text):
    return ''.join(char * 3 for char in text)

**Respuesta** :

Crea una nueva cadena donde cumple la condicion de que cada caracter sea repetido 3 veces

In [31]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

**Respuesta** :

Hay 3 H, 3 e , 6 l (3 de la primera l y 3 de la segunda) y 3 o

In [32]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

**Respuesta** :

Hay 3 M , 3 i, 6 s (3 de la primera s y 3 de la segunda), 3 i ,6 s (3 de la primera s y 3 de la segunda), 6 p (3 de la primera p y 3 de la segunda) y 3 i

#### BLACKJACK: Dados tres enteros entre 1 y 11, si su suma es menor o igual a 21, devuelve su suma. Si su suma excede 21 *y* hay un once, reduce la suma total en 10. Finalmente, si la suma (incluso despu√©s del ajuste) excede 21, devuelve 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [33]:
def blackjack(a, b, c):
    total = a + b + c
    if total <= 21:
        return total
    if 11 in (a, b, c):
        total -= 10
    if total > 21:
        return 'BUST'

    return total

In [34]:
# Revisi√≥n
blackjack(5,6,7)

18

**Respuesta** :

Retorna el numero, debido a que la suma no alcanza a ser 21 y no hay ningun 11

In [35]:
# Revisi√≥n
blackjack(9,9,9)

'BUST'

**Respuesta** :

Arroja Bust devido a aque la suma de los valores es mayor a 21 (27 en este caso)

In [36]:
# Revisi√≥n
blackjack(9,9,11)

19

**Respuesta** :

Restorna el numero de la suma de las variables menos 10 porque dentro de los valores hay un 11; es decir que la suma arroja 29 pero al poseer un 11 se le restan once y queda el numero por pantalla (19)